{
  "extends": ["react-app", "plugin:cypress/recommended"],
  "env": {
    "browser": true
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "rules": {
    "react/style-prop-object": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "@typescript-eslint/no-angle-bracket-type-assertion": "off",
    "import/no-anonymous-default-export": "off",
    "no-console": ["warn", { "allow": ["info", "error", "warn"] }]
  },
  "parser": "@typescript-eslint/parser"
}
