@font-face {
  font-family: 'Brown';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/brown-regular.woff2') format('woff2'),
    url('/fonts/brown-regular.woff') format('woff');
}
@font-face {
  font-family: 'Brown';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/brown-bold.woff2') format('woff2'),
    url('/fonts/brown-bold.woff') format('woff');
}
