/**
    Resets all default browsers styles
    Different than normalize.css which uses some defaults
    https://medium.com/@elad/normalize-css-or-css-reset-9d75175c5d1e
  */

body {
  transition-property: background color;
  transition-duration: 0.2s;

  --background-color: #222429;
  --text-color: #ffffff;

  /* buttons */
  --icon-button-color: #ffffff;
  --icon-button-background: #333740;
  --icon-button-hover-background: #494d59;

  /* input */
  --input-color: #ffffff;
  --input-background: #333740;
  --input-focus-border-color: #253566;
  --input-border-color: #494d59;
  --input-remove-value-background: #7d849a;
  --input-remove-value-color: #ffffff;

  /* radio group */
  --radio-group-background: #1b1d21;
  --radio-group-border: #494d59;
  --radio-group-active-background: #333740;
  --radio-group-active-color: #ffffff;
  --radio-group-color: #7d849a;
  --radio-group-shadow: 0px 1px 3px #141721;

  /* tabs */
  --tabs-text-color: #7d849a;
  --tabs-text-color-active: #ffffff;
  --tabs-border-color-track: #333740;
  --tabs-border-color-active: #ffffff;
}

body.light-mode {
  --background-color: #f5f7fb;
  --text-color: #485374;

  /* buttons */
  --icon-button-color: #485374;
  --icon-button-background: #e8ebf3;
  --icon-button-hover-background: #f5f7fb;

  /* input */
  --input-color: #485374;
  --input-background: #ffffff;
  --input-focus-border-color: #b9c9f8;
  --input-border-color: #b8c0d8;
  --input-remove-value-background: #e8ebf3;
  --input-remove-value-color: #485374;

  /* radio group */
  --radio-group-background: #ffffff;
  --radio-group-border: #b8c0d8;
  --radio-group-active-background: #e8ebf3;
  --radio-group-active-color: #485374;
  --radio-group-color: #969fba;
  --radio-group-shadow: 0px 1px 3px #d5d8e1;

  /* tabs */
  --tabs-text-color: #969fba;
  --tabs-text-color-active: #485374;
  --tabs-border-color-track: #e8ebf3;
  --tabs-border-color-active: #3061f6;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
  font: inherit;
}
figure {
  margin: 0;
}
input {
  border: 0;
  padding: 0;
  margin: 0;
}
ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}
p {
  margin: 0;
}
cite {
  font-style: normal;
}
fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}
body,
html {
  margin: 0;
  padding: 0;
}
